.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .team-image {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 60px;
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 22px;
        font-weight: normal;
      }
      h4 {
        color: $black;
        text-transform: uppercase;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
      }
      h5 {
        font-size: 16px;
        font-weight: 500;
        color: $secondary;
      }
      p {
          font-weight: normal;
        }
      .team-contact {
        margin-top: 10px;

        p {
          margin: 0;
          font-size: 14px;
          display: flex;
          align-items: center;

          i {
            margin-right: 8px;
            color: $secondary;
            font-size: 16px;
          }

          a {
            color: $primary;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      
    }
    .team-content {
      margin-top: 20px;
      flex: 1 0 100%;
    }
  }

  .team-summary-large {
    background-color: $white-offset;
    padding: 30px;
    border-radius: 3px;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 90px;
      }
    }
  }
}
