.feature {
  height: 100%;
  padding: 15px;
  background-color: $feature-background-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 200px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: auto;
    margin-top: auto;
  }
}
