.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
.header-text {
  text-align: left; // Ensure all text is left-aligned
  margin: 0; // Remove any default margins
  padding: 0; // Remove any default padding
  h1 {
    text-transform: uppercase;
    font-size: 1.5em; // Adjust the size as needed
    color: $primary;
    margin-bottom: 0.2em; // Reduce the bottom margin
  }

  h2 {
    text-transform: uppercase;
    font-size: 1em; // Adjust the size as needed
    display: block; // Ensures it appears on a new line under the <meta> tag
    color: $secondary;
    margin-top: 0; // Remove any top margin
  }
}
